<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="opensource.carelab.apis.user.mapper.IUserMapper">
    <select id="isDuplicateEmail"
            parameterType="opensource.carelab.apis.user.model.P_IsDuplicateEmail"
            resultType="opensource.carelab.apis.user.model.R_IsDuplicateEmail">
        SELECT COUNT(*) AS IS_DUPLICATE
        FROM USER_GLOBAL
        WHERE USER_EMAIL = #{email};
    </select>

    <select id="insertUser"
            parameterType="opensource.carelab.apis.user.model.P_InsertUser"
            resultType="opensource.carelab.apis.user.model.R_InsertUser">
        BEGIN NOT ATOMIC

        DECLARE V_EMAIL VARCHAR(200);
        DECLARE V_PASSWORD VARCHAR(1024);
        DECLARE V_NAME VARCHAR(50);
        DECLARE V_PHONE VARCHAR(50);
        DECLARE V_CREATE_DT VARCHAR(20);

        SET V_EMAIL = #{email};
        SET V_PASSWORD = #{password};
        SET V_NAME = #{name};
        SET V_PHONE = #{phone};

        INSERT INTO USER_GLOBAL(
            USER_EMAIL
            , USER_PASSWORD
            , USER_NAME
            , USER_PHONE
            , CREATE_DT
        )
        VALUES(
            V_EMAIL
            , V_PASSWORD
            , V_NAME
            , V_PHONE
            , NOW()
        );

        SELECT V_EMAIL AS EMAIL, V_NAME AS NAME, V_PHONE AS PHONE;

        END;
    </select>

    <select id="selectUser"
            parameterType="opensource.carelab.apis.user.model.P_SelectUser"
            resultType="opensource.carelab.apis.user.model.R_SelectUser">
        SELECT USER_EMAIL, USER_PASSWORD, USER_NAME, USER_LEVEL, USER_PHONE, USER_STATUS
        FROM USER_GLOBAL
        WHERE USER_STATUS != 9
        AND USER_EMAIL = #{email};
    </select>

    <update id="updateUser"
            parameterType="opensource.carelab.apis.user.model.P_UpdateUser">
        UPDATE USER_GLOBAL
        SET USER_NAME = #{name}
            , USER_PHONE = #{phone}
            , USER_PASSWORD = #{password}
            , UPDATE_DT = NOW()
        WHERE USER_EMAIL = #{email}
        AND USER_STATUS != 9;
    </update>

    <delete id="deleteUser"
            parameterType="opensource.carelab.apis.user.model.P_DeleteUser">
        DELETE FROM USER_GLOBAL
        WHERE USER_EMAIL = #{email};
    </delete>
</mapper>