<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="opensource.carelab.apis.logis.ab1010.mapper.IAB1010Mapper">
    <select id="getReagentList"
            parameterType="opensource.carelab.apis.logis.ab1010.model.P_AB1010SelectReagentList"
            resultType="opensource.carelab.apis.logis.ab1010.model.R_AB1010SelectReagentList">
        SELECT REAGENT_SQ
                , USER_EMAIL
                , CATEGORY_CD
                , PRODUCT_NAME
                , CAT_NO
                , CAS_NO
                , VENDOR_CD
                , CAPACITY
                , LOCATION_SQ
                , REG_DT
                , USE_DT
                , EXPIRE_DT
                , STATUS
        FROM LOGIS_REAGENT
        WHERE USER_EMAIL = #{userEmail}
                <choose>
                    <!-- searchFg = 1, 등록일자 기준 -->
                    <when test="searchFg == '1'">
                        <![CDATA[
                            AND LEFT(REPLACE(#{fromDt}, '-', ''), 8) >= LEFT(LEFT(REPLACE(REG_DT, '-', ''), 8))
                            AND LEFT(REPLACE(#{toDt}, '-', ''), 8) <= LEFT(LEFT(REPLACE(REG_DT, '-', ''), 8))
                        ]]>
                    </when>
                    <!-- searchFg = 2, 사용일자 기준 -->
                    <when test="searchFg == '2'">
                        <![CDATA[
                            AND LEFT(REPLACE(#{fromDt}, '-', ''), 8) >= LEFT(LEFT(REPLACE(USE_DT, '-', ''), 8))
                            AND LEFT(REPLACE(#{toDt}, '-', ''), 8) <= LEFT(LEFT(REPLACE(USE_DT, '-', ''), 8))
                        ]]>
                    </when>
                    <!-- searchFg = 3 만료일자 기준 -->
                    <when test="searchFg == '3'">
                        <![CDATA[
                            AND LEFT(REPLACE(#{fromDt}, '-', ''), 8) >= LEFT(LEFT(REPLACE(EXPIRE_DT, '-', ''), 8))
                            AND LEFT(REPLACE(#{toDt}, '-', ''), 8) <= LEFT(LEFT(REPLACE(EXPIRE_DT, '-', ''), 8))
                        ]]>
                    </when>
                </choose>
                <!-- 검색할 키워드가 존재할 경우 조건문 -->
                <if test="search != null or search != ''">
                    AND PRODUCT_NAME LIKE CONCAT('%', #{search}, '%')
                    OR CAT_NO LIKE CONCAT('%', #{search}, '%')
                    OR CAS_NO LIKE CONCAT('%', #{search}, '%')
                    OR VENDOR_CD LIKE CONCAT('%', #{search}, '%')
                    OR CAPACITY LIKE CONCAT('%', #{search}, '%')
                    OR LOCATION_SQ LIKE CONCAT('%', #{search}, '%')
                    OR REG_DT LIKE CONCAT('%', #{search}, '%')
                    OR USE_DT LIKE CONCAT('%', #{search}, '%')
                    OR EXPIRE_DT LIKE CONCAT('%', #{search}, '%')
                </if>
        LIMIT #{pageOffset}, #{pageCount};
    </select>
</mapper>